/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {

}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-body-bg: #f9f9f9;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: var(--bs-navbar-toggler-icon-bg) !important;
}

.navbar-toggler:focus {
  color: transparent !important;
}


/* Set the SignIn and SignUp alerts background. */
.signin {
  --bs-card-border-color: none !important;
}

/* Define custom styles */
.gray-background {
    background-color: black;
    color: var(--bs-dark);
    padding-top: 10px;
    padding-bottom: 20px;
}


/** UserProfile.jsx */
.user-profile-image {
    width: 12rem;
}

.user-profile-main-card {
    padding: 1rem;
}

.user-profile-measures-container {
    padding: 0.5rem;
}

/** MeasuresGrid */
.measures-grid-cards-padding {
    padding: 0.25rem;
}

.measures-grid-card-button {
    width: 4rem;
    height: 1.5rem;
}

.btn.search_btn{
  background-color: darkseagreen;
  --bs-btn-padding-x: 20px;
  margin-bottom: 5px;
}

#home-img {
  margin-bottom: 10px;
}

#state-seal-img {
  height: 110px;
  width: 155px;
}

.tos {
  font-size: 12px;

}

.accordion {
  background-color: #FFFFFF;
  --bs-accordion-bg: #FFFFFF !important;
  --bs-accordion-active-color: #000000 !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-bg: #FFFFF !important;
  --bs-accordion-btn-padding-y: 0px !important;
  font-size: small;
}

.tabs{
  --bs-list-group-bg: #FFFFFF !important;
  --bs-nav-tabs-link-active-bg: none !important;
}

.card-title {
  text-align: center;
  margin-top: 200px;
}

.text-background {
  margin-top: 40px;
}
.buttons-background {
  margin-top: 110px;
  height: 350px;
}

/* Homepage css */

.homepage-text {
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homepage-subtext {
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homepage-background {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Queen-Liliuokalani-building.JPG/1920px-Queen-Liliuokalani-building.JPG) no-repeat center;
  background-size: cover;
  height: 900px;
}

.no-style {
  text-decoration:none;
}
/* Define homepage card item styles */
.card-title.card-items {
  margin-top: 120px;
  text-align: center;
  font-size: 30px;
}
